//button Color
$primaryColorButton: #7abc64;
$secondaryColorButton: #69aa53;
$tertiaryColorButton: #fff;
$quaternaryColorButton: #7f9ea8;
//Header Color
$primaryColorHeader: #353637;
$secondaryColorHeader: rgba(53,54,55,0.5);
$tertiaryColorHeader:#fff;
$quaternaryColorHeader:#9299a2;
$quinaryColorHeader: #7abc64;

//Hero Color
$primaryColorHero: #fff;

//Main Color
    //FormSection
    $primaryColorForm: #79b27b;
    $secondaryColorForm: #fff;
    $tertiaryColorForm: #adadad;
    $quaternaryColorForm: #f7f7f7;

    //CTA Color
    $primaryColorCTA: #fff;

    //Courses Color
    $primaryColorCourses:#fff;
    $secondaryColorCourses: #7f9ea8;
    $tertiaryColorCourses: #adadad;

//Footer Color
$primaryColorFooter:#0f1d1f;