//Header Color
$primaryColorHeader: #353637;
$secondaryColorHeader: rgba(53,54,55,0.5);
$tertiaryColorHeader:#fff;
$quaternaryColorHeader:#9299a2;
$quinaryColorHeader: #7abc64;
$senaryColorHeader: #69aa53;

//Hero Color
$primaryColorHero: #fff;

//Main Color
    //FormSection
    $primaryColorForm: #79b27b;
    $secondaryColorForm: #fff;
    $tertiaryColorForm: #adadad;
    $quaternaryColorForm: #f7f7f7;

    //CTA Color
    $primaryColorCTA: #fff;

//Footer Color
$primaryColorFooter:#0f1d1f;